*{
    margin: 0;
    padding: 0;
    background-color: transparent;
    font-family:Arial, Helvetica, sans-serif;
    
}
.FeaturedProfileContainer{
    margin: 15px;
}
.header{
    display: flex;
    gap: 20px;
    color: rgb(140,140,140);
    margin-bottom: 40px;
}
.header>h2>a{
    text-decoration: none;
    color: rgb(140,140,140);

}
/* course details page */
.detailsContainer{
    display: flex;
    /* justify-content: space-between; */
}
.details{
    /* border: 1px solid black; */
    width: 72%;
}

.random{
    /* border: 1px solid teal; */
    height: 3000px;
}
.list{
    width: 100%;
    border: 1px solid rgb(93,77,168);
    height: 1.8%;
    display: flex;
    justify-content: space-between;
    border-width: 4px;
    border-top: none;
    border-left: none;
    border-right: none;
}
.list>div{
    font-size: 20px;
    color: black;
    background-color: rgb(255,255,255);
    /* border: 1px solid red; */
    width: 15%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;

}
.list>div:first-child{
    font-weight: bold;
    background-color: rgb(239,237,246);
    color: rgb(96,72,157);
}
/* heading section */
.heading{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    background-color: rgb(244,244,245);
    align-items: center;
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 30px;
    border-radius: 15px;
    
}
.heading>div:first-child{
    width: 40%;
}
.heading>div:first-child>h1{
    font-size: 40px;
}
.heading>div:first-child>p{
    font-size: 25px;
}

.heading>div:last-child{
    /* border: 1px solid red; */
    width: 20%;
    padding-right: 50px;
}
.heading>div:last-child>img{
    width: 100%;
    height: 100%;
    margin-top: 50px;
}
.KeyFeatures{
    margin-top: 40px;
}
.KeyFeatures>h1{
    margin-left: 30px;
}
.KeyFeatures>div{
    display: flex;

    gap: 50px;
    /* border:  1px solid red; */
    /* height: 220px; */
    margin-top: 30px;
    
}
.KeyFeatures>div>div{
    /* border: 1px solid red; */
    text-align: center;
    width: 25%;
    height: auto;
}
.KeyFeatures>div>div>img{
    height: 80%;
}
.KeyFeatures>div>div>p{
    font-size: 25px;
}
/* gain section */
.gain{
    margin-top: 60px;
    /* border: 1px solid red; */
}
.gain>h1{
    margin-left: 30px;

}
.gain>div{
    /* border: 1px solid black; */
    margin-top: 40px;
    display: flex;
    background-color: rgb(246,244,254);
    gap: 200px;
}

.gain>div>div:first-child{
    /* border: 1px solid teal; */
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 30px;
    justify-content: center;
    align-items: center;
}
.gain>div>div:last-child{
    /* border: 1px solid red; */
    padding-right: 30px;
    padding-bottom: 50px;
    padding-top: 30px;
}
.listWithIcon{
    display: flex;
    align-items: center;
    gap: 20px;
}
.listWithIcon>img{
    width: 6%;
    border-radius: 20px;

}
.listWithIcon>p{
    font-size: 25px;
}
#gainImage{
    /* width: 50%; */
    height: 100%;
}
.HowItWorks{
    /* border: 1px solid red; */
    margin-top: 50px;

}
.HowItWorks>h1{
    margin-left: 30px;
}
.HowItWorks>p{
    margin-left: 30px;
    font-size: 25px;
}
#ViewImage{
    display: flex;
    /* border: 1px solid red; */
    justify-content: space-between;
    margin-top: 30px;
}
#ViewImage>div{
    /* border: 1px solid black; */
    height: 500px;
    width: 32%;
    box-sizing: border-box;
    background-color: rgb(244,244,245);
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 20px;

}
#ViewImage>div>img{
    height: 70%;
}
#ViewImage>div>p{
    font-size: 25px;
    line-height: 30px;
}
.importance{
    margin-top: 40px;
}
.importance>h1{
    margin-left: 30px;
}
.importantPoints{
    /* border: 1px solid black; */
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 40px;
    margin-top: 30px;
}
.importantPoints>div{
    /* border: 1px solid red; */
    display: flex;
    height: 200px;
    /* padding: 30px; */
    /* justify-content: space-between; */
    background-color:rgb(239,237,245);
    border-radius: 15px;
}
.importantImage{
    /* border: 1px solid teal; */
    width: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.importantStatus{
    /* border: 1px solid blue; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    font-size: 26px;
}
.importantImage>img{
    width: 60%;
    height: 60%;
}

/* get Services section */
.getService{
    margin-top: 50px;
}
.getService>h1{
    margin-left: 30px;
}
.getService>div{
    display: flex;
    /* border: 1px solid red; */
    gap: 20px;
    margin-top: 30px;
}
.services{
    /* border: 1px solid blue; */
    width: 25%;
    margin: auto;
    text-align: center;
    padding: 50px;
}
.services>img{
    width: 56%;
}
.services>p{
    font-size: 25px;

}
/* disclaimer section */
.disclaimer{
    border: 1px solid rgb(184,170,170);
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 30px;
    border-radius: 15px;
    margin-left: 30px;
    margin-right: 30px;
}
.disclaimer>p{
    font-size: 25px;
    color: rgb(184,170,170);

}

/* contact us section */
.contactUs{
    /* border: 1px solid red; */
    /* height: 200px; */
    display: flex;
    justify-content: space-between;
    background-color: rgb(239,237,246);
    padding-bottom: 40px;
    margin-left: 35px;
    margin-right: 35px;
    padding-right: 40px;
    margin-top: 40px;
    border-radius: 10px;
    
}
.contactUs>div{
    /* border: 1px solid black; */
    height: 100%;
    width: 48%;
}
#contactDetails{
    /* border: 1px solid red; */
    height: 470px;
    justify-content: center;
    align-items: center;
    padding-top: 30px;
}
#contactDetails>div:first-child{
    text-align: center;
    margin-bottom: 20px;
    font-size: 20px;
}
#contactDetails>div:nth-child(2){
    text-align: center;
    /* border: 1px solid black; */
    height: 300px;
    margin-bottom: 20px;
}
#contactDetails>div:nth-child(2)>img{
    width: 100%;
    height: 100%;
}
#contactDetails>div:last-child{
    text-align: center;
}
.form{
    /* gap: 35px; */
    display: flex;
    flex-direction: column;
    font-size: 25px;
    gap: 15px;
    padding-top: 30px;
}
input{
    height: 45px;
    width: 92%;
    font-size: 20px;
    padding: 0 20px;
    background-color: white;
}
#select{
    display: flex;
    gap: 10px;
}
select{
    height: 50px;
    font-size: 20px;
    background-color: white;
    text-align: center;
}
.form>button{
    height: 55px;
    width: 40%;
    background-color: rgb(96,72,157);
    font-size: 20px;
    border-radius: 10px;
}
.form>button>a{
    text-decoration: none;
    color: white;
}
#select>input{
    width: 80%;
}
/* bought section */
.bought{
    margin-top: 40px;
    /* border: 1px solid red; */
    margin-left: 30px;
    margin-right: 30px;

}
.bought>h1{
    margin-left: 40px;
}
#boughtContainer{
    /* border: 1px solid red; */
    /* height: 400px; */
    display: flex;
    gap: 30px;
    margin-top: 30px;

}
.course{
    /* border: 1px solid black; */
    height: 100%;
    width: 50%;
    display: flex;
    border-radius: 10px;
    background-color: rgb(239,237,246);
}
.course>div{
    display: flex;
    /* border: 1px solid red; */
}
.course>div:first-child{
    width: 35%;
    /* height: 250px; */
    padding: 30px;
}

.course>div:first-child>img{
    width: 100%;
    height: 100%;
}
.course>div:last-child{
    width: 60%;
    /* height: 300px; */

}
.twoDivs{
    display: flex;
    flex-direction: column;
    padding: 10px;
}
.description{
    /* border: 1px solid red; */
    display: flex;
    flex-direction: column;
    gap: 20px;
    height: 80%;
}
.description>p{
    font-size: 25px;
}
.buyButtons{
    /* border: 1px solid red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.buyButtons>button{
    width: 50%;
    height: 50px;
    border-radius: 8px;
}
.buyButtons>button:first-child{
    background-color: rgb(96,72,157);
}
.buyButtons>button:first-child>a{
    text-decoration: none;
    color: white;
    font-size: 15px;
}
.buyButtons>button:last-child{
    border: none;
}
.buyButtons>button:last-child>a{
    text-decoration: none;
    font-size: 15px;
}

/* bottom section */
.bottomSection{
    /* border: 1px solid red; */
    width: 95%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 100px;

}
.jobByLocation{
    display: flex;
    gap: 100px;
    font-size: 20px;
}
.jobByLocation>p{
    color: rgb(98,91,173);
}
#jobs{
    display: flex;
}
#jobs>p>a{
    text-decoration: none;
    color: black;
}
/* last section */
/* Last section */
.LastSection{
    /* border: 1px solid red; */
    margin: auto;
    width: 97%;
    display: flex;
    gap:60px;
    margin-top: 200px;
    margin-bottom: 40px;
    padding: 0 15px;
}
/* #selectionSection{
    border: 1px solid teal;

} */
#tollNo{
    /* border: 1px solid black; */
    display: flex;
    gap: 30px;
    justify-content: center;
    align-items: center;
    gap: 40px;

    
    
}
#tollNo>div>p{
    font-size:20px;
}
#tollNo>img{
    width: 10%;
    height: 90%;
}
#emailSection{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;

}
#emailSection>p{
    font-size:20px;

}
#emailSection>img{
    width: 10%;
    height: 90%;
}
#logoSection{
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    gap: 60px;
}
.logo{
    height: 40px;
}
.logo>img{
    width: 100%;
    height: 100%;
}


/* side bar */
.packagePrice{
    /* border: 1px solid blue; */
    position: fixed;
    height: 700px;
    width: 25%;
    margin-left: 1250px;
}
.packagePrice>div:first-child>button{
    height: 55px;
    width: 100%;
    background-color: rgb(96,72,157);
    font-size: 20px;
    border-radius: 10px;
    color: white;
}
.ServicePackageHeading{
    /* border: 1px solid red; */
    padding-top: 30px;
    padding-bottom: 30px;
    margin-top: 40px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    border-radius: 10px;


}
.serviceList{
    /* border: 1px solid red; */
    height: 400px;
    overflow-x: hidden;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.BuyService{
    /* border: 1px solid red; */
    border-radius: 10px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    padding: 10px;
}
.BuyService>button{
    width: 95%;
    height: 55px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    border-radius: 10px;background-color:rgb(96,72,157);
}
.BuyService>button>a{
    text-decoration: none;
    color: white;
    font-size: 20px;
}
.serviceName{
    border: 1px solid rgb(232,232,232);
    margin: 10px;
    padding: 20px;
    display: flex;
    border-radius: 10px;
    gap: 10px;
    justify-content: space-between;
}
.serviceName>div{
    /* border: 1px solid red; */
    text-align: left;
}
.serviceName>div:nth-child(2){
    width: 60%
}





