#footer746{
          
    height: 380px;
    width: 100%;
    color: white;
    background-color: #6847d6;

}
#footer746>div{
    /* border: 1px solid black; */
    height: 100%;
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
#footer746>div>div{
    /* border: 1px solid black; */
    width: 217px;
    gap: 10px;
}
#footer746>div>div>a{
    text-decoration: none;
    color: white
    
}