* {
   margin: 0;
   padding: 0;
   font-family: sans-serif;
   box-sizing: border-box;
}
#homeSearchContainerMain {
  height: 350px;

  background-image: url("https://media.monsterindia.com/trex/public/default/images/hero-img.jpg?210120191234");
  background-position: center;
  background-size: cover;
  background-color: #252831a0;
}

#homejobCount {
  color: white;
  width: 80%;
  margin: auto;
  
 padding:10px;

}

#homeJobContent {
  display: flex;
  width: 80%;

  margin: auto;
  gap: 30px;
  height: 250px;
 
}
#homeSearchContainer{
  padding: 25px;
  width: 65%;
  margin: auto;
}
#homeSearchContainerNav{
    display: flex;
    justify-content: space-between;
    direction: none;
    color: white;
    height: 50px;
    align-items: center;
 
 
}
#homeSearchContainerNav>a{
    text-decoration: none;
    color: white;
   font-size: 15px;

    position: relative;
}
#homeSearchContainerNav>a:nth-child(2)::after{
  position: absolute;
  content: "New";
  color: white;
  background-color:  #fa4d52;
  font-size: 10px;
  padding: 2px .5em;;
  top: -10px;
right: -25px;

}
#homeSearchContainerNav>a:nth-child(3){
  background-color: #fa4d52;
  padding: 5px 1em;
  margin-left: -10px;
}

#homeSearchContainerNav>a::before{
    content: "";
    position: absolute;
    background-color: whitesmoke;
    height: 2px;
    /* top: 100%; */
    width: 0%;
    /* left: 0px; */
    left:50%;
     bottom: -10px; 
   transition: width .5s, ease-in-out   transform ;
     transform: translate(-50%, -50%);
     
}
#homeSearchContainerNav>a:hover:before{
  width: 100%;
}
/* #homeSearchContainerNav>a:hover{
   text-decoration-color: aliceblue ;
   text-decoration-line: underline;
   
   transition: 0.4s;
} */

#homeSearchContainer {
  background-color: #252831d4;
}

#homeSearch {
 
  height: 50px;
 
  
  display: flex;
  
  align-items: center;
  
 
  margin: auto;
}

#homeSearch > i {
  font-size: 20px;
  background-color: white;
  color: #777;
  align-items: center;
  padding: 10px;
}

#homeSearch > input {
  
  width: 520px;
  height: 40px;
  border: none;
  outline: none;
  font-size: 18px;
  
}
#homeSearch>#search{
  padding: 11px 2em;;
  background-color: #5d4da8 ;
  border: none;
}
#homeSearch>#search:hover{
  background-color: #4d50a8;
 
}
#homeSearch>#search > a{
  text-decoration: none;
  color: white;
  
  font-size: 16px;
 
}
#homeSearch+div>p{
  text-align: end;
  font-size: 12px;
  color: white;
  margin: 15px 0px 5px 0px;
  font-weight: bold;
}
#homeSearch+div>div{
  display: inline-block;
  color: white;
  
}
#homeSearch+div>a{
  display: inline-block;
  color: white;
  text-decoration: none;
  text-align: right;
  position: relative;
  
  margin: 5px 0px;
}
#homeSearch+div>a::before{
  content: "";
  position: absolute;
  background-color: whitesmoke;
  height: .5px;
  width: 0%;
  left:50%;
   bottom: -5px; 
 transition: width .5s, ease-in-out   transform ;
   transform: translate(-50%, -50%);
}
#homeSearch+div>a:hover:before{
  width: 100%;
}

#homeJobContentSecondDiv {
  display: flex;
  gap: 15px;
  background-color: #252831d4;
  padding: 15px;
  margin-bottom: 10px;
}
#homeJobContentSecondDiv > div {
  display: grid;
  
  background-color: white;
  font-weight: bold;
  padding:10px 30px;
  font-size: 14px;
  text-align: center;
  align-items: center;
}
#homeJobContentSecondDiv >div> div>span{
 font-weight: 400;
 color:gray;
 font-size: 12px;

} 
#homeJobContentSecondDiv >div>h4+p {
  font-size: 14px;
 font-weight: 600;
 
}

 
 


#homeJobContentSecondDiv>div> a{
  text-decoration: none;
 
 

}
#homeJobContentSecondDiv>div:first-child> div+a{
 
  /* background-color: orange;
 
 color: white; */
 display: block;
 
 background-color: orange;
 padding: 10px;
 
 
 color: white;
 




}
 #homeJobContentSecondDiv>div> a>span:last-child{ 

  font-size: 10px;
} 
#homeJobContentSecondDiv>div:last-child> div+a{
  border: 1px solid blue;
  padding: 10px 1.5em;
}
#HomeSliderContainer{
width: 80%;
margin: auto;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  margin-top:60px ;
}
#HomeSlider{
  padding: 10px 50px;
}
#HomeBanner{
  width: 80%;
margin: auto;
margin-top:10px 
}
.homeWorkFromContainer{
  
  width: 80%;
  margin: auto;
  margin-top:10px ;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 30px;
  
}
.homeWorkFromContainer>div{
  display: flex;
  justify-content: space-between;
  
  text-align: start;
}
.homeWorkFromContainer>div>a{
  text-decoration: none;
  
  align-items: end;
}

.homeWorkFrom{
 
 padding: 10px 50px;
}
.homeJobs{
 background-color:  #a8a8a83f;
 
 font-weight: 400;
 
 line-height: 25px;
 font-size: 13px;
 
 margin: 10px;
 padding: 10px;
 height: 450px;
 width: 300px;
}
.homeJobs>span{
  color: gray;
  
}
.homeJobs>div+div{
  font-size: 12px;
}