
        #bigdivlog{
            display: flex;
           
        }
        #firstlogin{
            border: 1px solid black;
            width: 76%;
            opacity: 0.1;
        }
        #scndlogin{
            border: 1px solid black;
            width: 24%;
            padding: 3%;
        }
       input{
        width:340px;
        padding: 15px;
       }
       #loginbtn{
        width:375px;
        padding: 15px;
        background-color: #002961 ;
        color: white;
        font-size: large;
        border: none;
        border-radius: 3px;

       }
       form+h3{
        color: lightpink;
       }
       #span{
        color: rgb(111, 0, 255);
       }
       #new,#googlefb{
        text-align: center;
        border: 1px solid rgb(230, 224, 224);
        width: 373px;
        margin-top: 20px;
        border-radius: 4px;
       
       }

       #googlefb>button{
        border: none;
       }
       #firstlogin>a>img{
        height: 50px;
        width: 50px;
        margin-left: 95.5%;
       }