input{
    border: 0.000000001px solid rgb(152, 151, 151);
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 15px;
    border-radius: 3px;
}

 #btn{
    padding: 15px;
    background-color: green;
    border: none;
    color: white;
    font-size: larger;
    border-radius: 3px;
   margin-left: 70%;
 }
  #ac{
    text-align: center;
  }
  #ac+p{
    text-align: center;
  }
  #halfdiv{
   
    
    /* border: 1px solid black; */
 
    display: flex;
  }
  #firsthalf{
    width: 57%;
    /* border: 1px solid black; */
    opacity: 0.1;
  }
  #secondhalf{
    width: 30%;
    margin-left: 5%;
    /* padding: 5%; */
  }
  #googlebtn{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
  }
  #fbbtn{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    margin-left: 5px;
  }
  #fbgoogle{
    margin-left: 70px;;

  }
  #firsthalf>a>img{
height: 50px;
width: 50px;
margin-left: 95.5%;
}