*{
    margin: 0px;
    padding: 0px;
}

#big_container
{
    background-color: rgb(255, 255, 255);
    height: auto;
    /* border: 3px solid rgb(255, 0, 212); */
    width: 100%;
} 
#Ist_navbar{
    /* border: 1px solid red; */
    display: flex;
    gap: 30px;
    width: 100%;
    text-decoration: none;
    margin-top: 20px;
    font-size: 15px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
     font-weight: bold;
    cursor: pointer;
    height: 20px;
   
}
#Ist_navbar div:hover{
    cursor: pointer;
    border-bottom: 4px solid rgb(7, 148, 243);
}

#Ist_navbar a{
    color: black;
    text-decoration: none;
}
#right_div a{
    font-size: 14px;
    cursor: pointer;
}#right_div{
    position: relative;
    display: inline-block;
    margin-left: 120px;
}#drop_down{
    margin-top: 5px;
    display: none;
    position:absolute;
    background-color: white;
    min-width: 148px;
    z-index: 1;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    line-height: 35px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    margin-right: 20px;
    text-align: center;
    padding-bottom: 20px;
}
#drop_down a{
    text-decoration: none;
    position: relative;
    display: block;
    padding: 7px 30px;
    font-size: 12px;
    line-height: 20px;
    color: #111;
    white-space: nowrap;

}
#drop_down a:hover{
   background-color: rgb(255, 255, 255); 

}
#right_div:hover #drop_down{
    display: block;
}
#right_div:hover a{
background-color: rgb(255, 255, 255);
}

#right_div  .fa-regular{
    height: 100%;
    width: 15px;
    text-align: center;
    transition: all 0.3s ease;  
    background-color: rgb(11, 247, 157);
}
/* #right_div:hover  .html_css_arrow{
    transform:rotate(180deg);
} */





#sec_navbar
{
display: flex;
justify-content: space-evenly;
/* border:  2px solid rgb(255, 0, 140); */
margin-top: 30px;
}
#temp{
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    /* border:  1px solid rgb(0, 0, 0); */
    width: 20%;
    padding: 0 20px;
    margin: auto;
}
#icon_img{
    /* border:  1px solid red; */
    display: flex;
    justify-content:space-around;
    
}

#icon_social{
    margin: auto;
    display: flex;
    /* border:  1px solid rgb(38, 0, 255); */
    justify-content: space-evenly;
    gap: 20px;
    padding: 0 20px;
}
#icons_div{
    display: flex;
    justify-content: space-between;
    gap:20px;
    margin: auto;
    /* border:  1px solid rgb(38, 0, 255); *//
}
#search_icons button{
    margin: auto;
    background: transparent;
    border: 0px;
    font-size: 20px;
    /* border:  1px solid rgb(38, 0, 255); */
}
#login_button button{
    margin: auto;
    background-color: #4c4084;;
    
    padding: 8px;
    border: 0px;
    font-size: 15px;
    /* border:  1px solid rgb(38, 0, 255); */
}
#login_button a{
    color: white;
    text-decoration: none;
}


#search_btn1{
    position: relative;
    display: inline-block;
    cursor: pointer;


}


#drop_search_div {
    display: none;
    position:absolute;
    right: 0px;
    background-color: rgb(255, 255, 255);
    min-width: 650px;
    z-index: 1;
    /* border: 1px solid rgb(246, 14, 14); */
    line-height: 35px;
    box-shadow: rgba(134, 120, 120, 0.2) 0px 7px 29px 0px;
    text-align: center;
    padding: 20px; 
    margin-top: 2px;

}

#drop_search_div #text_input{
width: 60%;
padding: 10px;
border-top: none;
border-left: none;
border-right: none;
border-bottom: 1px solid rgb(194, 194, 194);
outline-style: none;


}

#search_btn1:hover #drop_search_div{
    display: block;
}

#search_icon :hover #search_btn1{
background-color: aquamarine;
}
#btn2{
    padding: 10px;
    width: 100px;
    background-color: #4c4084;
    color: white;
}

/* THIRD NAVBAR CSS */


#third_first_child{
    /* border:  1px solid rgb(38, 128, 0); */
    display: flex;
    margin: auto;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    /* margin-left: ; */
    text-align: end;
    position:sticky ; 
    top:0;
  
}#third_first_child a {
    text-align: start;
    margin: auto;
   
}
#third_navbar
{
    /* border:  1px solid rgb(5, 249, 233); */
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-top: 40px;
    height: 60px;
    display: flex;

   
    
}
#third_navbar > div >div
{
    margin: auto;
    /* border:  1px solid rgb(4, 0, 255); */
    height: 20px;
    width: 50%;
    
}

#third_navbar a .fa
{
/* padding: 0 10px; */

}
#third_navbar a
{
    text-decoration: none;
    color: black;
    font-weight: bold;
    font-size: 14px;
    /* text-align:start; */
}






#category {
    font-size: 14px;
    cursor: pointer;
    /* border: 1px solid blue; */
    text-align: center;
}#third_sec_child{
    position: relative;
    display: inline-block;
    margin-left: 120px;

}
#container{
    margin-top: 2px;
    display: none;
    position:absolute;
    background-color: rgb(255, 255, 255);
    min-width: 1350px;
    z-index: 1;
    list-style: none; 
    /* border: 2px solid rgb(52, 212, 73); */
    box-shadow: rgba(106, 106, 187, 0.2) 0px 7px 29px 0px;
    height: 300px;
    margin-right: 200px;

    
   
} #container #container1 {
    /* border: 2px solid rgb(209, 52, 212);   */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    overflow: hidden;
    text-align: start;
}



 .box1 img{
width: 100%;

height: 150px;
}
.box1{
   
    /* border: 3px solid rgb(230, 0, 0); */
    width: 20%;

}


#container .box1:hover{
   background-color: rgb(255, 255, 255); 
   
}
#third_sec_child:hover #container{
    display: block;
}
#third_sec_child:hover .box1{
background-color: rgb(255, 255, 255);
} 
















#category a{
    font-size: 14px;
    cursor: pointer;
}#third_sec_child{
    position: relative;
    display: inline-block;
    margin-left: 120px;

}
#container{
    margin-top: 5px;
    display: none;
    position:absolute;
    background-color: rgb(255, 255, 255);
    min-width: 1350px;
    z-index: 1;
    list-style: none; 
    /* border: 2px solid rgb(52, 212, 73); */
    box-shadow: rgba(106, 106, 187, 0.2) 0px 7px 29px 0px;
    height: 300px;
    margin-right: 200px;

    
   
} #container #container1 {
    /* border: 2px solid rgb(209, 52, 212);   */
    display: flex;
    justify-content: space-around;
    gap: 20px;
    /* overflow: hidden; */
}



 .box1 img{
width: 100%;
height: 150px;
}
.box1{
   
    /* border: 3px solid rgb(230, 0, 0); */
    width: 20%;

}


#container .box1:hover{
   background-color: rgb(255, 255, 255); 
   
}
#third_sec_child:hover #container{
    display: block;
}
#third_sec_child:hover .box1{
background-color: rgb(255, 255, 255);
} 




/* frth_navbar */

#frth_navbar{
    /* border: 1px solid rgb(247, 39, 39); */
    text-align: center;
    margin: 20px;
    width: 90%;
    margin: auto;
}
.para > p{
    color: rgb(139, 145, 145);
    font-size: 10px;
    font-weight: bold;
}
#heading1 >h1{
    font-size: 45px; 
}
#para1 > p{
    color: rgb(139, 145, 145);
    font-size: 20px;
    font-style: italic;
}
#anchor_list{
    text-align: center;
    /* border: 1px solid darkmagenta; */
    margin-top: 25px;
    padding-bottom: 25px;
}
#anchor_list_child1{
    /* border: 1px solid darkmagenta; */
    width: 80%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}#anchor_list_child1 a{
    background-color: black;
    color: white;
    padding: 0 10px;
}
#anchor_list_child2{
    /* border: 1px solid darkmagenta; */
    width: 90%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}#anchor_list_child2 a{
    background-color: black;
    color: white;
    padding: 0 10px;
}
#anchor_list_child3{
    /* border: 1px solid darkmagenta; */
    width: 90%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}
#anchor_list_child3 a{
    background-color: black;
    color: white;
    padding: 0 10px;
}
#anchor_list_child4{
    /* border: 1px solid darkmagenta; */
    width: 90%;
    margin: auto;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 10px;
}#anchor_list_child4 a{
    background-color: black;
    color: white;
    padding: 0 10px;
}



/*  append data 2*/

#data_append_big_div{
    display: flex;
    margin: auto;
    width: 95%;
    height: 1000px;
    margin-top: 40px;
    
}
#data_append_1{
   /* border: 5px solid rgb(4, 255, 171); */
  height: auto;
  overflow-y: scroll;
  
}
#data_append_1::-webkit-scrollbar{
    display: none;
    
}

#data_append_2{
    border: 65%;
    /* border: 2px solid rgb(255, 1, 208); */
    margin-left: 50px;
    width: 29%;
    height: 1000px;
    
}
.box_1{
    display: flex;
    /* border: 1px solid rgb(1, 5, 255); */
    gap: 20px;
    width: auto;
    margin:20px 0;
    
}
.box_1 img{
    width: 100%;
    object-fit: cover;
    height: 200px;
  
}
.box2{
    /* border: 1px solid rgb(255, 1, 1); */
    width: 40%;
    /* position: relative; */
    
}

.box3{
    /* border: 1px solid rgb(69, 255, 1); */
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    width: 60%;

}
.title{
    color: rgb(255, 255, 255);
    position: relative;
    bottom: 30px;
    background-color: #4c4084;
    padding:5px 5px;
    /* margin-top: -25px; */
    width: 120px;
}
.headings{
    color: rgb(14, 14, 14);
    margin: auto;
    margin-left: 20px;
    margin-top: 15px;

}
.paragraph{
    color: rgb(82, 73, 73);
    font-style: italic;
    margin-left: 20px;
    margin-top: 15px;
}.paragraph1{
    color: rgb(132, 129, 129); 
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
}







/* covid small append */

.div-1{
    display: flex;
    box-shadow: rgba(50, 50, 105, 0.15) 0px 2px 5px 0px, rgba(0, 0, 0, 0.05) 0px 1px 1px 0px;
    /* border: 1px solid rgb(1, 5, 255); */
    gap: 20px;
    width: auto;
    margin-top: 20px;
}
.div-1 img{
    width: 100%;
    height: 100px;
}
.box-2{
    /* border: 1px solid rgb(255, 1, 1); */
    width: 25%;
    margin: auto;
}

.box-3{
    /* border: 1px solid rgb(69, 255, 1); */
    width: 70%;
}
.tit{
    color: rgb(255, 255, 255);
    background-color: #4c4084;
    margin-top: -8px;
}
.heads{
    color: rgb(14, 14, 14);
    margin: auto;
    margin-left: 20px;
    margin-top: 15px;
    font-size: 15px;

}
.parag{
    color: rgb(82, 73, 73);
    font-style: italic;
    margin-left: 20px;
    margin-top: 15px;
}.paragraph1{
    color: rgb(132, 129, 129); 
    font-size: 15px;
    margin-left: 20px;
    margin-top: 15px;
}
#data_append_3 > h2{
   margin-left: 20px;
   color: #4c4084;
   font-family:Arial, Helvetica, sans-serif;
   font-size: 25px;
   margin-top: 20px;
}
#data_append_4{
    margin-top: 50px;
}














#category a{
    font-size: 14px;
    cursor: pointer;
}#category{
    position: relative;
    display: inline-block;
    margin-left: 120px;
}#category2{
    margin-top: 5px;
    display: none;
    position:absolute;
    background-color: rgb(255, 255, 255);
    min-width: 310px;
    z-index: 1;
    list-style: none;
    border: 1px solid rgb(255, 255, 255);
    line-height: 35px;
    box-shadow: rgba(145, 145, 147, 0.2) 0px 7px 29px 0px;
    margin-right: 50px;
    padding-bottom: 0 20px;
    left: 5px;
}
#category2 a{
    text-decoration: none;
    position: relative;
    display: block;
    padding: 5px 20px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(170, 163, 163);
    white-space: nowrap;

}
#category2 a:hover{
   background-color: rgb(255, 255, 255); 
}
#category:hover #category2{
    display: block;
}
#category:hover a{
background-color: rgb(255, 255, 255);
}
#category:hover  .html_css_arrow{
    transform:rotate(180deg);
} 


















/* small_footer */


.small_footer{
    /* border: 1px solid aqua; */
    margin-top: 30px;
    width: 100%;
    background-color:rgb(240, 239, 239);
}
.small_footer1{
    display: flex;
    justify-content: space-evenly;
    gap: 100px;
    /* border: 2px solid red; */
    margin-top: 20px;
    width: 90%;
    margin: auto;
    text-align: center;
}
.small_footer> div p{
    /* border: 2px solid red; */
    width: 30%;
    margin: auto;
    color: #4c4084;
    font-size: 13px;
    font-weight: 200;
}

.anchor_tag >a{
    color: black;
    text-decoration: none;
    gap: 20px;
    margin: auto;
    padding: 0 10px;
    line-height: 30px;
  
}
.anchor_tag{
    margin-top: 20px;
    
}












/* footer */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 p{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
#footer{
  /* background-color: greenyellow; */
  
  display: grid;
}
#smalldiv{
    /* border: 1px solid red; */
}

#btnimg{
  width: 300px;
}
#bigdiv{
    background-color: black;
    width: 100%;
    height: 350px;
   
}
#innerdiv{
    display: flex;
}
#rights{
    color: white;
    width: 210px;
    /* border: 1px solid white; */
}

#Div1{
    /* border: 1px solid red; */
    width: 18%;
    margin-left: 100px;
}
#indiv{
    width: 65px;
    height: 60px;
}
#monsterimg{
    margin-top: 40px;
}

#socialhandles{
    display: flex;
    height: 20px;
    gap: 5px;
    margin-top: 35px;
}
#div3{
    margin-top: 35px;
}
#follerssize{
  font-size:20px;
  color: white;
}
#follerssize2{
    color: #77CAC8;
    margin-top: 5px;
    font-size: small;
}
#div4{
    display: grid;
    margin-top: 35px;
    width: 190px;
    /* border: 1px solid red; */
    gap: 5px;
    color: white;
    
}
#Div2{
    /* border: 1px solid red; */
    width: 18%;
    
}
#headingcol{
    /* font-size: 25px; */
    margin-top: 50px;
    color: rgb(235, 198, 77)
 }
 #li{
    margin-top: 15px;
    gap: 9px;
    display: grid;
    color: white;
    font-size: 20px;
}

 
 

#Div3{
    /* border: 1px solid red; */
    width: 18%;
}




#Div4{
    /* border: 1px solid red; */
    width: 18%;
}
#Div5{
    /* border: 1px solid red; */
    width: 18%;

}
#chatbot{
    position: sticky;
    bottom: 0;
}
#chat{
    width: 8%;
    height: 100px;
    margin-top: 30px;
}


