
/* footer */


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
 }
 p{
    font-size: 13px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 h2{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }
#footer{
  /* background-color: greenyellow; */
  
  display: grid;
}
#smalldiv{
    /* border: 1px solid red; */
}

#btnimg{
  width: 300px;
}
#bigdiv{
    background-color: black;
    width: 100%;
    height: 350px;
   
}
#innerdiv{
    display: flex;
}
#rights{
    color: white;
    width: 210px;
    /* border: 1px solid white; */
}

#Div1{
    /* border: 1px solid red; */
    width: 18%;
    margin-left: 100px;
}
#indiv{
    width: 65px;
    height: 60px;
}
#monsterimg{
    margin-top: 40px;
}

#socialhandles{
    display: flex;
    height: 20px;
    gap: 5px;
    margin-top: 35px;
}
#div3{
    margin-top: 35px;
}
#follerssize{
  font-size:20px;
  color: white;
}
#follerssize2{
    color: #77CAC8;
    margin-top: 5px;
    font-size: small;
}
#div4{
    display: grid;
    margin-top: 35px;
    width: 190px;
    /* border: 1px solid red; */
    gap: 5px;
    color: white;
    
}
#Div2{
    /* border: 1px solid red; */
    width: 18%;
    
}
#headingcol{
    /* font-size: 25px; */
    margin-top: 50px;
    color: rgb(235, 198, 77)
 }
 #li{
    margin-top: 15px;
    gap: 9px;
    display: grid;
    color: white;
    font-size: 20px;
}

#Div3{
    /* border: 1px solid red; */
    width: 18%;
}

#Div4{
    /* border: 1px solid red; */
    width: 18%;
}
#Div5{
    /* border: 1px solid red; */
    width: 18%;

}
#chatbot{
    position: sticky;
    bottom: 0;
}
#chat{
    width: 8%;
    height: 100px;
    margin-top: 30px;
}

















